scrobbledb = dict(
    dbname='', user='', password='', host='', port=5432
)
lastfm = dict(
    key='',
    user=''
)
subsonicdb = dict(
    dbname='',
    user='',
    password='',
    host=''
)
playlist_options = dict(
    # number of songs
    length=100,
    # randomness percentage
    randomness=20
)